@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
}

.MSection{
	padding: 30px;
	background-color: white;
	border: 3px solid rgb(128, 0, 255);
	text-align: center;
}

.maindiv{
   
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgb(128, 0, 255) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
	
	
}
.img{
	text-align: center;
}
.table th {
    background-color: rgb(128, 0, 255);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
.table td {
    background-color: rgb(128, 128, 255);
    font-size: 15px;
    color: black;
    letter-spacing: 0.03em;
  }
  
  
  a.nav-link {
    text-decoration: none;
    color: rgb(64, 0, 128); 
    margin-right: 20px; 
    font-size: 20px; 
}

a.nav-link:hover {
    color: #1abc9c;
}
 
 span.copyright {
    font-size: 16px;
    color: rgb(0, 0, 0); 
    font-style: italic; 
    margin-top: 10px; 
}