@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
}

.maindiv{
    /*background-color: white;
	border: 3px solid rgb(128, 0, 255);*/
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgb(128, 0, 255) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
	
	}
.table th {
	text-align: left;
    background-color: rgb(128, 0, 255);
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 10px 20px 10px 20px ;
 }