@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
}

.Msection {
	padding: 30px;
	background-color: rgb(192, 192, 192);
	border: 3px solid rgb(128, 0, 255);
	text-align: center;
}
.table{
	text-align: left;
}


.maindiv{
	background-color: white;
	
   padding: 40px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgb(128, 0, 255) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	
	
}
.navigation {
    margin-top: 20px; 
    
}

a.nav-link {
    text-decoration: none;
    color: rgb(64, 0, 128); 
    margin-right: 20px; 
    font-size: 20px; 
}

a.nav-link:hover {
    color: #1abc9c;
}
span.copyright {
    font-size: 16px;
    color: rgb(0, 0, 0); 
    font-style: italic; 
    margin-top: 10px; 
}
.insubmit{
	background-color: rgb(128, 0, 255) ;
	padding: 6px 25px;
	font-size: 20px;
	font-weight: 600;
	
}