@charset "ISO-8859-1";
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
}

.maindiv{
	
   padding: 40px;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgb(128, 0, 255) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
	
	
}